title, h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, serif;
	border: 5px solid white;
	padding: 10px;
	margin: 50px;
	text-align: center;
}

body {
	background-color:rgb(255, 225, 255)
}

p {
	font-family: Georgia, serif;
	text-align: center;
}

p.main {
	font-size: 125%;
}

h2, h3, h4, h5, h6 {
	color: red;
	font-size: 200%;
}

button{
  margin:auto;
  display:block;
}